<!DOCTYPE html>
<html>
<body>

<h1>The input element</h1>

<form action="/user/signup" method="POST">
  <label for="fname">Email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="lname">Password :</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
